* {
  box-sizing: border-box;  
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #E3E3E3;
}


/*page-header*/
.page-header {
  margin: 0 auto;
  width: calc(100% - 120px);
  height: 40px;
  border: 1px solid black;
  
  display: flex;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__logo {
  /*width: 192px;*/
  height: 40px;
  background-color: #d3d3d3;
  
  flex-grow: 1;
}

.page-header__main-nav {
  /*width: 776px;*/
  height: 40px;
  background-color: #acb0c6;
  
  flex-grow: 4;
}

.page-header__connect{
  /*width: 192px;*/
  height: 40px;
  background-color: #d3d3d3;
  
  flex-grow: 1;
}


/*page-main*/

.page-main {
  
}


/*main-screen*/

.main-screen {
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, #898989, #2D2C33);
}

.main-screen__content {
  height: 100vh;
  margin: 0 auto;
  padding-top: 40px;
  width: calc(100% - 120px);
  display: flex;
  background-color: rgba(255, 255, 255, 0.24);
  
}

.main-screen__left-column {
  display: flex;
  flex-direction: column;
  /*flex-grow: 1;*/
  width: 50%;
  background-color: #693f3f;
}

.main-screen__right-column {
  
  /*flex-grow: 1;*/
  width: 50%;
  background-color: #9a4c4c;
}

.main-screen__list {
  margin: 0;
  padding: 0;
  width: 50%;
  list-style: none;
}

.button {
  margin: 0;
  padding: 18px 32px;
  display: flex;
  width: 210px;
  height: 55px;
  text-decoration: none;
  color: #0a4100;
  background-color: #00ba15;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}


/*events*/

.events {
  height: 797px;
  width: 100%;
  background: linear-gradient(180deg, #2D2C33, #151824);
}

.wrapper-content {
  margin: 0 auto;
  padding-top: 50px;
  width: calc(100% - 120px); 
}

.events__heading {
  margin: 100px 0 0;
  text-align: center;
  font-size: 24px;
  color: #E3E3E3;
}

.events__list {
  margin: 0 auto;
  padding: 100px 0 0 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.events__item {
  margin: 15px;
  padding: 18px 32px;
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-image: linear-gradient(10deg,#F29C1A 5%,  transparent 70%, #F29C1A 80%, transparent 70%);
  border-image-slice: 48;
}

.events__item:nth-child(2),
.events__item:nth-child(5) {
  position: relative;
  top: 70px;
  border: 1px solid transparent;
  border-image: linear-gradient(160deg,#F29C1A 5%,  transparent 50%, #F29C1A 90%, transparent 80%);
  border-image-slice: 48;
}


.events__text {
  margin: 0 auto;
  text-align: center;
  width: 360px;
  font-size: 20px;
  line-height: 24px;
}